.stocksItemRow {
    padding-right: 10px;
}
.stockItemRow > div {
    margin-bottom: 5px;

}

.stockItemRow .buttonsContainer button:first-child{
  margin-right: 2px;
}
.stockItemRow .buttonsContainer {
  position:absolute;
  top: 32px;
  right: 5px;
}
