.stocksItemRow {
    padding-right: 10px;
}
.stockItemRow > div {
    margin-bottom: 5px;

}
@media all and (max-width: 575px)  {
    .stockItemRow .buttonsContainer {
        position:absolute;
        top: 1px;
        right: 1px;
    }
}
.stockItemRow .buttonsContainer button:first-child{
  margin-right: 2px;
}
@media all and (min-width: 576px) {
    .stockItemRow .buttonsContainer {
        position: absolute;
        top: 28px;
        right: 5px;
    }
}
