.stocksItemRow {
    padding-right: 10px;
}
.stockItemRow > div {
  margin-bottom: 5px;

}
@media (max-width: 720px) query {
  .stockItemRow .buttonsContainer {
      top: 5px;
  }
}
.stockItemRow .buttonsContainer button:first-child{
  margin-right: 2px;
}
.stockItemRow .buttonsContainer {
  position:absolute;
  top: 33px;
  right: 5px;
}
