@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');

.lavado-app {
    font-family: 'Quicksand', sans-serif;
}
.overlay{
    display: flex;
    position: fixed;
    height:100vh;
    width: 100%;
    padding-top: 20%;
    justify-content: center;
    transition: opacity 1s ease;
}
.overlay.show {
    opacity: 1;
    z-index: 999;
}

.overlay .spinner-border {
    width: 10rem;
    height: 10rem;
}
.overlay.hide {
    opacity: 0;
    z-index: 0;
}
